.main {
  width: 90vw;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 4rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.header-item {
  height: 100%;
  min-height: 3rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms ease;
  cursor: default;
}

.header-item > span {
  color: var(--main-color);
}

.header-item.highlited {
  flex-grow: 4;
  background-color: var(--main-color);
  box-shadow: var(--elevation2),
              var(--height);
  border-radius: var(--border-radius);
}

.header-item.highlited > span {
  color: var(--text-color);
}


.content {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
  border-radius: var(--border-radius);
  color: var(--text-color2);
}

.searchbar {
  width: calc(100% - 20px);
  height: fit-content;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  box-shadow: var(--elevation2),
              var(--height);
  gap: 5px;
}

.searchbar input::-webkit-input-placeholder {
  font-size: 12px;
}

.search {
  flex-grow: 1;
  height: calc(2rem - 10px);
  background-color: var(--main-color-dark);
  border-radius: var(--border-radius);
  box-shadow: var(--depth),
              var(--depth-shadow);
  color: var(--text-color);
  padding: 5px 5px;
  font-size: 1rem;
}

.submit {
  height: 2rem;
  width: fit-content;
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
  box-shadow: var(--height);
  color: var(--text-color);
  padding: 5px 5px;
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
  .main {
    width: 50vw;
  }
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}