:root {
    font-size: 16px;
    --background-color: #fff;
    --main-color: #000;
    --text-color: #fff;
    --text-color2: rgb(255, 255, 255, 0.75);
    --text-color3: rgb(255, 255, 255, 0.55);
    --text-color4: rgb(255, 255, 255, 0.255);
    --accent-color: #00C5A1;
    --warning-color: #e72222;
    --main-color-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.5);
    --background-color-shadow: 0px 4px 20px 2px rgba(255, 255, 255, 0.5);
    --border-radius: 8px;
    --speed: 300ms;
}


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.navbar {
    position: static;
    width: calc(100vw - 20px);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    background-color: var(--main-color);
    padding: 0px 10px;
    color: var(--text-color);
    box-shadow: var(--main-color-shadow);
    z-index: 10;
    top: 0;
}


#home {
    height: calc(4rem - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    transition: var(--speed);
    cursor: default;
    font-size: 1.5rem;
}

#home:hover {
    color: var(--accent-color);
}

.navbar-item {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    transition: var(--speed);
    z-index: 4;
}

.navbar-item:hover {
    color: var(--accent-color);
}

.navbar-item > i, .navbar-item > img {
    cursor: pointer;
}

#navbar-user-image {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: var(--border-radius);
}

#navbar-home {
    position: fixed;
}

#navbar-menu {
    position: fixed;
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    display: none;
    top: 0;
    margin-top: calc(4rem + 5px);
    border-radius: var(--border-radius);
    box-shadow: var(--main-color-shadow);
}

#navbar-menu.active {
    display: block;
}

.menu-item {
    height: 3rem;
    width: calc(100% - 40px);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    color: var(--main-color);
    font-size: 1.5rem;
    transition: var(--speed);
}

.menu-item > i,
.menu-item > span {
    padding: 5px 5px;
}

.menu-item:first-of-type {
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.menu-item:last-of-type {
    border-radius: var(--border-radius);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.menu-item:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
    #home {
        font-size: 1.5rem;
    }
  }

@media only screen and (max-width: 710px) {
    .navbar-home {
        margin-right: auto;
    }
  }


/*! /Login page */
#login-navbar-home {
    margin-left: auto;
    margin-right: auto;
}


.container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
}

.form {
    width: 740px;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: var(--main-color-shadow);
    border-radius: var(--border-radius);
}

.form-title {
    font-size: 2.5rem;
    color: var(--main-color);
    padding: 20px 20px;
}

.input-label {
    font-size: 2rem;
    width: 80%;
    padding: 20px 20px;
    cursor: default;
    transition: var(--accent-color);
}

.form-input {
    width: 80%;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--main-color);
    font-size: 2rem;
    margin: 10px 0px 40px 0px;
    transition: var(--speed);
    background-color: transparent;
}

.form-input::placeholder {
    font-size: 1.5rem;
    color: rgb(0, 0, 0, 0.55);
}

.form-input:focus {
    font-size: 2rem;
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.form-error {
    width: 80%;
    height: 2rem;
    padding: 20 px 20px;
    display: none;
    justify-content: center;
    align-items: center;
}

.form-error.active {
    display: flex;
}

.form-error-message {
    font-size: 1.5rem;
    color: var(--warning-color);
}

.form-remember {
    padding: 20px 20px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 40px;
}

.form-checkbox {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid var(--main-color);
    background-color: transparent;
    margin-right: 20px;
}

.form-checkbox:hover {
    cursor: pointer;
}

.form-checkbox:hover .form-check.active {
    cursor: pointer;
    background-color: var(--accent-color);
}


.form-check {
    display: none;
    width: calc(2rem - 6px);
    height: calc(2rem - 6px);
    border-radius: 4px;
    background-color: var(--main-color);
    transition: var(--speed);
}

.form-check.active {
    display: block;
}


.form-remember-label {
    font-size: 1.5rem;
    color: var(--main-color3);
    cursor: default;
}

.btn {
    height: 4rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    transition: var(--speed);
    color: var(--text-color);
    font-size: 2rem;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--accent-color);
}

.form-options {
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.form-option {
    width: 50%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem
}

.option-question {
    color: var(--main-color4);
    padding: 3px 10px;
    cursor: default;
}

.option-redirect {
    color: var(--main-color2);
    padding: 3px 10px;
    cursor: pointer;
    transition: var(--speed);
}

.option-redirect:hover {
    color: var(--accent-color);
}

#login-container {
    display: none;
}

#login-container.container.show {
    display: flex;
}

/** Register page */


#register-container {
    display: none;
}

#register-container.container.show {
    display: flex;
    background-color: var(--main-color);
    height: 100vh;
}

#register-form {
    background-color: var(--background-color);
    box-shadow: var(--background-color-shadow);
}

#register-form > span {
    padding: 10px 20px;
    font-size: 1.5rem;
}

#register-form > span:first-of-type {
    padding: 20px 20px;
    font-size: 2.5rem;
}

#register-form > input {
    margin-bottom: 20px;
}

#register-form > input:last-of-type {
    margin-bottom: 40px;
}

#register-input5 {
    height: 4rem;
}


.input-label-box {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-label-box > span:first-of-type {
    width: fit-content;
    padding: 0px;
}

.error-box {
    width: fit-content;
    height: 2rem;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    transition: var(--speed);
}

.error-box.active {
    display: flex;
}

.error-box .error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--warning-color);
    padding: 5px 5px;
}

.error-box > i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 5px 5px;
}

.fas.fa-check-circle {
    color: var(--accent-color);
}

.fas.fa-exclamation-circle {
    color: var(--warning-color);
}


/** Confirm email page */
#confirm-container {
    display: none;
}

#confirm-container.container.show {
    display: flex;
}

#confirm-form {
    padding: 20px 20px;
}

.form-text {
    padding: 10px 20px;
    font-size: 2rem;
    color: var(--main-color);
}

#censored-email {
    color: var(--main-color2);
    margin-bottom: 40px;
}

.input-code {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 20px 0px;
}

.input-number {
    width: 4rem;
    height: 6rem;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
    outline: none;
    border: none;
    margin: 10px 10px;
    transition: var(--speed) ease;
}

.input-number:focus {
    background-color: var(--accent-color);
}

#form-resend-email {
    font-size: 1.2rem;
    padding: 5px 5px;
    margin-top: 40px;
    color: var(--main-color3);
    cursor: pointer;
}

#navbar-logout {
    cursor: pointer;
    font-size: 1.5rem;
    width: fit-content;
}


/** Index page */

#navbar-title {
    position: fixed;
    width: calc(100% - 40px);
    padding: 5px 20px;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: default;
    transition: var(--speed);
}

#users-amount {
    margin-left: 5px;
}


@media only screen and (max-width: 850px) {
    #navbar-title {
        justify-content: flex-start;
    }
  }


#container-home {
    position: fixed;
    margin-top: 4rem;
    height: calc(100vh - 4rem);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


#content {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

#content-left {
    margin-right: 20px;
    width: calc(22% - 20px);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#content-middle {
    width: calc(56% - 100px);
    height: 100%;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-top {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: var(--speed);
}

.top-button {
    flex-grow: 1;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--speed);
}

.top-button.active {
    flex-grow: 3;
    background-color: var(--main-color);
    box-shadow: var(--main-color-shadow);
    color: var(--text-color);
    font-size: 2rem;
}

.top-button:hover {
    flex-grow: 2;
    background-color: var(--main-color);
    box-shadow: var(--main-color-shadow);
    color: var(--accent-color);
    font-size: 2rem;
}

.main-content {
    width: 100%;
    height: 100%;
    display: none;
    transition: var(--speed);
}

.main-content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchbar-box {
    margin-top: 5px;
    width: 100%;
    height: 3rem;
    background-color: var(--main-color);
    box-shadow: var(--main-color-shadow);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    flex-direction: row;
}

#searchbar-box #searchbar {
    width: calc(90% - 40px);
    height: calc(3rem - 10px);
    padding: 5px 20px;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1.5rem;
    transition: var(--speed);
}

#searchbar::placeholder {
    color: var(--text-color3);
    font-size: 1rem;
}

#search-box {
    height: calc(3rem - 10px);
    width: calc(10% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

#search-box > i {
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: var(--speed);
}

#search-box > i:hover {
    color: var(--accent-color);
}

#content-right {
    margin-left: 20px;
    width: calc(22% - 20px);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-content-background {
    width: calc(100% - 40px);
    height: calc(100% - 80px);
    background-color: var(--background-color);
    box-shadow: var(--main-color-shadow);
    border-radius: var(--border-radius);
    padding: 10px 20px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#people-filters-box {
    width: 90%;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.people-filter-item {
    flex-grow: 1;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    border-bottom: 2px solid rgb(0, 0, 0, 0.2);
    cursor: default;
    transition: var(--speed);
}

.people-filter-item > span {
    width: 75%;
    height: calc(2rem + 2px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color:rgb(0, 0, 0, 0.4);
    transition: var(--speed);
    cursor: pointer;
}

.people-filter-item.active {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.people-filter-item.active > span {
    width: 75%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--main-color);
}

.people-filter-item:hover {
    border-bottom: 2px solid var(--accent-color);
}

.people-filter-item:hover > span {
    color: var(--accent-color);
}

#people-container {
    width: calc(100% - 20px);
    min-height: 90%;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 0;
    overflow-y: auto;
}

.container-user {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: var(--border-radius);
    background-color: #00C5A1;
    margin: 10px 10px;
}

















@media only screen and (max-width: 1375px) {
    #content-middle > div{
        width: 660px;
    }
  }
