
.navbar {
  width: 100vw;
  height: 4rem;
  background-color: var(--main-color);
  color: var(--text-color);
}

.content {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.items {
  position: relative;
  width: fit-content;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.item {
  width: fit-content;
  color: var(--text-color);
}

.avatar {
  width: 3rem;
  border-radius: var(--border-radius);
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
  transform: translateY(calc(4rem + 2px));
  z-index: 5;
  background-color: var(--main-color);
}

.button-login {
  height: 3rem;
  width: 6rem;
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
  color: inherit;
  font-size: 1rem;
}


@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}