.notifications {
  width: calc(100% - 20px);
  height: calc(fit-content - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.notification-box {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  position: relative;
  width: 80vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  text-align: center;
  color: var(--text-color);
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  transition: var(--speed);
}

.message {
  height: fit-content;
  width: 80%;
  font-size: 0.8rem;
}

.close {
  position: absolute;
  top: 0;
  right: 5px;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 100%;
  height: 4px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: load 5s ease-in-out;
}

@keyframes load {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}


@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
  .notification {
    width: 60vw;
  }

  .message {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width : 992px) {
  .notification {
    width: 25vw;
  }

  .notifications {
    width: 25vw;
    left: unset;
    right: 10px
  }
  
  .message {
    font-size: 1rem;
  }
}

@media only screen and (min-width : 1200px) {

}