.chat {
  position: relative;
  margin-top: 0.5rem;
  width: 100%;
  height: 70%;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
}

.messages {
  height: calc(100% - 20px - 2.4rem - 10px);
  width: calc(100% - 20px);
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
}

.message {
  position: relative;
  width: calc(100% - 10px);
  height: fit-content;
  padding: 5px;
  display: flex;
  flex-direction: row;
  background-color: var(--main-color-dark);
  border-radius: var(--border-radius);
  gap: 0.5rem;
  font-size: 0.8rem;
}


.avatar {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.avatar > img {
  width: 2rem;
  border-radius: var(--border-radius);
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.username {
  font: bolder;
  color: var(--accent-color);
}

.date {
  font-size: 0.7rem;
  color: var(--text-color4)
}

.msg {
  word-wrap: break-word;
}

.form {
  width: calc(100% - 10px);
  height: 2.4rem;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.msgBox {
  width: calc(80% - 10px);
  height: calc(100% - 10px);
  background-color: var(--main-color-dark);
  box-shadow: var(--depth),
              var(--depth-shadow);
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-size: 1rem;
  padding: 5px;
}

.submit {
  width: 20%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
  box-shadow: var(--height);
  color: var(--text-color)
}

