:root {
  --background-color: #ffffff;
  --main-color: #20232a;
  --main-color2: #36383f;
  --main-color3: #4c4e54;
  --main-color4: #626569;
  --text-color: #ffffff;
  --text-color2: rgb(255, 255, 255, 0.75);
  --text-color3: rgb(255, 255, 255, 0.55);
  --text-color4: rgb(255, 255, 255, 0.255);
  --accent-color: #61dafb;
  --warning-color: #e72222;
  --main-color-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.5);
  --background-color-shadow: 0px 4px 20px 2px rgba(255, 255, 255, 0.5);
  --border-radius: 6px;
  --speed: 300ms;
  --shadow-color: hsl(0deg 0% 0% / 0.25);
  --shadow-color-accent: hsl(193deg 95% 68%);
}

html {
  position: fixed;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
  background-color: var(--background-color);
  overflow: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  box-shadow: inset 0 -2px 0 rgb(255, 255, 255, 0.1);
}

a {
  text-decoration: none;
  cursor: default;
}


@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}