:root {
  --background-color: #ffffff;
  --main-color-dark: #1C1F25;
  --main-color: #20232a;
  --main-color2: #363B47;
  --main-color3: #4c4e54;
  --main-color4: #626569;
  --text-color: #ffffff;
  --text-color2: rgb(255, 255, 255, 0.75);
  --text-color3: rgb(255, 255, 255, 0.55);
  --text-color4: rgb(255, 255, 255, 0.255);
  --accent-color: #3aafa9a9;
  --warning-color: #e72222;
  --border-radius: 6px;
  --speed: 300ms;
  --depth: inset 0 -2px 0 rgb(255, 255, 255, 0.1);
  --height: inset 0 -2px 0 rgb(0, 0, 0, 0.2);
  --depth-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
  --elevation: 0.8px 1.6px 1.6px hsl(0deg 0% 0% / 48);
  --elevation2: 3.2px 6.4px 14px hsl(0deg 0% 0% / 20);
  --elevation3: 8px 16px 24px hsl(0deg 0% 0% / 25);
}

html {
  position: fixed;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
  background-color: var(--background-color);
  overflow: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 100vw; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

* {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  box-shadow: var(--height);
}

a {
  text-decoration: none;
  cursor: default;
}

a::before {
  color: blue;
}

input {
  border: none;
  outline: none;
}


@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}