:root {
  --background-color: #ffffff;
  --main-color: #20232a;
  --main-color2: #36383f;
  --main-color3: #4c4e54;
  --main-color4: #626569;
  --text-color: #ffffff;
  --text-color2: rgb(255, 255, 255, 0.75);
  --text-color3: rgb(255, 255, 255, 0.55);
  --text-color4: rgb(255, 255, 255, 0.255);
  --accent-color: #61dafb;
  --warning-color: #e72222;
  --main-color-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.5);
  --background-color-shadow: 0px 4px 20px 2px rgba(255, 255, 255, 0.5);
  --border-radius: 6px;
  --speed: 300ms;
  --shadow-color: hsl(0deg 0% 0% / 0.25);
  --shadow-color-accent: hsl(193deg 95% 68%);
}

html {
  position: fixed;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
  background-color: var(--background-color);
  overflow: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color)
}
