{% extends "base.html" %}

{% block links %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
<script src='{{ url_for("static", filename="js/index.js") }}'></script>
{% endblock%}

{% block content %}
<div class='navbar' id='navbar-home'>
    <h1 id='home-home'>We Up Here</h1>
    <div class='navbar-item' id='navbar-friends'>
        <i class="fas fa-users fa-2x"></i>
    </div>
    <div class='navbar-item' id='navbar-messages'>
        <i class="fas fa-comment-alt fa-2x"></i>
    </div>
    <div class='navbar-item' id='navbar-notifications'>
        <i class="fas fa-bell fa-2x"></i>
    </div>
    <div class='navbar-item' id='navbar-user'>
        <!-- image fetched here -->
    </div>
    <div id='navbar-menu'>
        <div class='menu-item' id='menu-item-logout'>
            <i class="fas fa-sign-out-alt"></i>
            <span class='menu-item-text'>Logout</span>
        </div>
    </div>
</div>
<div id='container-home'>
    <div id='content'>
        <div id='content-left'>
            
        </div>
        <div id='content-middle'>
            <div id='content-top'>
                <span class='top-button active' id='people-button'>People</span>
                <span class='top-button' id='posts-button'>Posts</span>
                <span class='top-button' id='events-button'>Events</span>
            </div>
            <div class='main-content active' id='content-people'>
                <div id='searchbar-box'>
                    <input id='searchbar' type='text' placeholder='Search by username, location, phrases...' autocomplete="off">
                    <div id='search-box'>
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class='main-content-background' id='background0'>
                    <div id='people-filters-box'>
                        <div class='people-filter-item' id='filter-newest'>
                            <span>Newest</span>
                        </div>
                        <div class='people-filter-item' id='filter-oldest'>
                            <span>Oldest</span>
                        </div>
                        <div class='people-filter-item' id='filter-similar'>
                            <span>Similar</span>
                        </div>
                        <div class='people-filter-item' id='filter-online'>
                            <span>Online</span>
                        </div>
                    </div>
                    <div id='people-container'>
                        <div class='container-user'>

                        </div>
                        <div class='container-user'>
                            
                        </div>
                        <div class='container-user'>
                            
                        </div>
                        <div class='container-user'>

                        </div>
                        <div class='container-user'>
                            
                        </div>
                        <div class='container-user'>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class='main-content' id='content-posts'>
                <h1>Content Posts</h1>
            </div>
            <div class='main-content' id='content-events'>
                <h1>Content Events</h1>
            </div>
        </div>
        <div id='content-right'>
    
        </div>
    </div>
</div>
{% endblock %}