{% extends "base.html" %}

{% block scripts %}
<script src='{{ url_for("static", filename="js/login.js") }}'></script>
{% endblock %}

{% block links %}
{% endblock %}

{% block content %}
<div class='navbar' id='navbar-login'>
    <div class='navbar-home' id='login-navbar-home'>
        <h1 id='home'>We Up Here</h1>
    </div>
</div>
<div class='container' id='login-container'>
    <div class='form' id='login-form'>
        <span class='form-title'>Sign In</span>
        <span class='input-label'>Login:</span>
        <input class='form-input' id='login-input1' type='text' placeholder='Enter your email or username here...'>
        <span class='input-label'>Password:</span>
        <input class='form-input' id='login-input2' type='password' placeholder='Enter your password here...'>
        <div class='form-remember'>
            <div class='form-checkbox' id='login-input3'>
                <div class='form-check'></div>
            </div>
            <span class='form-remember-label'>Remember me</span>
        </div>
        <div class='btn' id='login-input4'>Login</div>
        <div class='form-options'>
            <div class='form-option'>
                <span class='option-question'>No account yet?</span>
                <span class='option-redirect' id='option-register'>Click here to register!</span>
            </div>
            <div class='form-option'>
                <span class='option-question'>No account yet?</span>
                <span class='option-redirect' id='option-reset'>Reset your password here!</span>
            </div>
        </div>
    </div>
</div>
<div class='container' id='register-container'>
    <div class='content-middle'>
        <div class='form' id='register-form'>
            <span class='form-title' id=>Register</span>
            <span class='input-label'>Username:</span>
            <input class='form-input' id='register-input1' type='text' placeholder='Enter your username here...'>
            <span class='input-label'>Email:</span>
            <input class='form-input' id='register-input2' type='text' placeholder='Enter your email here...'>
            <span class='input-label'>Password:</span>
            <input class='form-input' id='register-input3' type='password' placeholder='Enter your password here...'>
            <span class='input-label'>Password:</span>
            <input class='form-input' id='register-input4' type='password' placeholder='Enter your password here...'>
            <div class='btn' id='register-input5'>Sign Up</div>
            <div class='form-options'>
                <div class='form-option' id='register-form-option'>
                    <span class='option-question'>Already registered?</span>
                    <span class='option-redirect' id='option-login'>Click here to sign in!</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
